.btn_form_next {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; ;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  background-color: @blue;
  color: @white;
  border: 2px solid @blue;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 8px 32px;
  font-weight: 500;
  font-size: 25px;
  -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 transition: all 0.5s ease-out;
 -webkit-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.3);
  &:hover {
    background-color: @white;
    color: @blue;
    border: 2px solid @blue;
    -webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.3);
  }
  &:active, &:focus {
    background-color: lighten(@blue, 90%);
    color: @blue;
    border: 2px solid @blue;
  }
  i {
    display: none;
  }
}


.btn_next {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  background-color: @white;
  color: @orange;
  border: 2px solid @white;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 25px;
  -webkit-transition: all 0.5s ease-out;
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 transition: all 0.5s ease-out;
 -webkit-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.3);
  box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.3);
  @media screen and (min-width: 500px) {
    padding: 8px 32px;
  }
  &:hover {
    background-color: @orange;
    color: @white;
    border: 2px solid @white;
    -webkit-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.3);
    box-shadow: 2px 3px 10px 0px rgba(0,0,0,0.3);
  }
  &:active, &:focus {
    background-color: lighten(@orange, 10%);
    color: @white;
    border: 2px solid @white;
  }
  i {
    display: none;
  }
  p {
    font-size: 35px;
  }
}

#lp_slider_content, #lpk_form {
  .btn_form_next {
    display: none;
  }
}
#btn_wniosek {
  display: none;
}

//nie chce mi sie szukac, ktory form ma jakie id, wiec zrobie to na pale, bo jest 3:46
#lp_slider_content #lp_supershort_body #btn_lp_phone_submit {
  display: block;
}
