/* cookies */

#cookie_mess {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 64px;
  padding: 0px 61px;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  display: block;
  z-index: 1100;
  .inner {
    padding: 20px 0;
  }
  .inner .mess {
    text-align: center;
    p, a, button {
      font-size: 16px;
      display: inline;
      color: #000000;
    }
    button {
      background-color: transparent;
      border: transparent;
      // display: -webkit-inline-box;
      // display: -moz-inline-box;
      // display: -ms-inline-flexbox;
      // display: -webkit-inline-flex;
      // display: inline-flex;
      display: inline;
      align-items: baseline;
      i {
        padding: 0 5px;
      }
    }
  }
}
#cookie_mess {
  display: none;
}
#cookie_v {
  display: inline;
}
