/* footer */
footer {
  background-color: @grey;
  color: @text-color;
  .foot_contact_item {
    text-transform: uppercase;
    padding: 15px 0 5px 0;
    img {
      display: none;
    }
    @media screen and (min-width: 768px) {
      padding: 15px 0;
    }
  }
  #foot_contact_left,
  #foot_contact_right {
    a,
    a:hover,
    a:active,
    a:focus {
      display: block;
      color: @text-color;
    }
  }
  #foot_contact_center {
    p {
      margin: 0px;
    }
  }
  #foot_contact_left {
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  #foot_contact_right {
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: right;
    }
  }
}
