/* zgody */
.reg_item {
  p {
    display: inline;
    text-align: left;
    margin-left: 10px;
  }
  .bt_zgoda {
    display: inline-block;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0px solid transparent;
    font-size: 14px;
    color: #4bb3cd;
  }
  .alert-mss {
    display: none;
    clear: both;
    font-size: 13px;
    color: rgba(254, 34, 34, 0.7);
  }
}

/* radio */
.form_field {
  input[type="radio"] {
    // dodalam do kopiowanych, sassowych styli, bo tam bylo stylowane po id
  }
  label {
    display: inline-block;
    float: left;
    font-weight: 500;
  }
}


#ui-datepicker-div {
  z-index: 150 !important;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.6);
}

.form_section.legal_check.form_page,
form#lp_supershort_slider {
  margin-top: 50px;
  display: none;
}
