/* general */

body {
  margin: 0 auto;
  overflow-x: hidden;
  color: @text-color;
  font-family: 'Roboto', sans-serif;
}
* {
    //outline: 1px solid red;
    margin: 0 auto;
    max-width: 100%;
    //overflow-x: hidden;
}
.row {
  max-width: calc(~"100% + 30px");
}
#wholer {
  overflow: hidden;
}

.mt10 {
  margin-top: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb100 {
  margin-bottom: 100px;
}
.ml15 {
  margin-left: 15px;
}
button, button:active, textarea:hover, textarea:active, input:active, textarea:focus, input:focus {
  outline: 0px !important;
  //-webkit-appearance:none;
}
textarea:hover, textarea:active, input:active, textarea:focus, input:focus, select:focus, select:active {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
}
.static {
  position: static;
}
