.results_icon {
  //background-color:			red
  padding-left:				0px !important;
  //height:						75px
  .results_icon_inner {
    text-align:				center;
    position:				relative;
    .results_icon_wrapper {
      position:		absolute;
      right:			0px;
      transition: 	0.9s;
      .results_icon_numba {
        position:		absolute;
        top: 			0px;
        right:			0px;
        left:			0px;
        z-index: 		4;
        color: rgba(255, 255, 255, 0.95);
      }
      .icon_cover {
        position:		absolute;
        right:			0px ;
        left:			0px;
        margin:			0px auto;
        border-radius: 50%;
        background-color: #f58966;
        z-index: 		3;
      }
      .results_icon_img {
        z-index: 		2;
        position:		absolute;
        top: 			0px;
        img {
          width: 		150px;
          position:	absolute;
          opacity: 	0.5;
        }
      }
      #circle {
        z-index: 		1;
      }
    }
  }
}

.results_icon {
	.results_icon_inner {
		.results_icon_wrapper {
			width:			60px;
			height:			60px;
			font-size:		26px;
			top:			-10px;
			.results_icon_numba {
				top:		12px;
      }
			.results_icon_img {
				display:	none;
      }
    }
  }
}

@media (min-width: 768px) {
	.results_icon {
		.results_icon_inner {
			.results_icon_wrapper {
				width:			90px;
				height:			90px;
				font-size:		30px;
				.results_icon_numba {
					top:		25px;
        }
				.results_icon_img {
					display:	none;
        }
      }
    }
  }
}

////	md
@media (min-width: 992px) {
	.results_icon {
		.results_icon_inner {
			.results_icon_wrapper {
				width:			130px;
				height:			130px;
				font-size:		35px;
				.icon_cover {
          width: 108px;
          height: 108px;
          top: 11px;
        }
				.results_icon_numba {
					top:		39px;
        }
				.results_icon_img {
					img
						width: 	130px;
        }
      }
    }
  }
}

////	lg
@media (min-width: 1240px) {
	.results_icon {
		.results_icon_inner {
			.results_icon_wrapper {
				width:			150px;
				height:			150px;
				font-size:		40px;
				.icon_cover {
					width:		126px;
					height:		126px;
					top: 		12px;
        }
				.results_icon_numba {
					top:		45px;
        }
				.results_icon_img {
					img {
						width: 	150px;
          }
        }
      }
    }
  }
}
