////////////////				ICONS MAIN PAGE
.three_icons {
  margin: 50px 0;
  .mainpage_icon {
    p {
      margin-top: 25px;
    }
  }
}
.mainpage_icon {
  text-align:			center;
  position:			relative;
  .mainpage_icon_numba {
    font-size:		34px;
    position:		absolute;
    background-color: @white;
    border-radius: 50%;
    width:		112px;
    height:			112px;

    left:			0px;
    right:			0px;
    top: 14px;
    //margin:			0px auto;
    //margin-top: 	17px;
    padding-top: 	33px;
    transition: 	0.9s;

    z-index: 		2;
    max-width: none;
  }
}

#icon_one {
  .mainpage_icon_numba {
    background-color: @white;
    color: darken(rgb(90, 196, 247), 30%);
    font-weight: bold;
  }
}

#icon_two {
  .mainpage_icon_numba {
    background-color: rgb(245, 137, 102);
    color: white;
    font-weight: bold;
  }
}

#icon_three {
  .mainpage_icon_numba {
    background-color: rgb(90, 196, 247);
    color: white;
    font-weight: bold;
  }
}

.mainpage_icon_img {
  z-index: 		1;
  height:			130px;
  img {
    position:	absolute;
    left:		0px;
    right:		0px;
    margin: 	0px auto;
    opacity: 	0.5;
  }
}
p {
  text-align:		center;
  font-size:		16px;
  margin-top:		10px;
}

// icons hover
@media (min-width: 992px) {
	.mainpage_icon {
    &:hover {
      .mainpage_icon_numba {
        color:		@blue;
        transition: 0.3s;
      }
    }
  }
}

//	icons mobile
@media (max-width: 768px) {
  .mainpage_icon {
    margin-bottom:	30px;
  }
}
