/* inputs */
#lpk_form,
#lp_short,
#lp_supershort,
#lp_supershort_slider,
#lpk_getter,
#lp_slider_form,
#phone_form,
#wniosek_form,
form {
  .form_field {
    //width: 100%;
    input, select {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      margin: 0 auto;
      width: 100%;
      display: block;
      border: 1px solid @grey;
      padding: 4px 8px;
      border-radius: 1px;
      color: darken(@grey, 20%);
      background-color: @white;

      -webkit-transition: border-color 1s ease-out;
      -moz-transition: border-color 0.5s ease-out;
      -o-transition: border-color 0.5s ease-out;
      transition: border-color 0.5s ease-out;

      -webkit-transition: color 0.5s ease-out;
      -moz-transition: color 0.5s ease-out;
      -o-transition: color 0.5s ease-out;
      transition: color 0.5s ease-out;

      option {
        color: darken(@grey, 20%);
      }
    }
    input[type="radio"] {
      display: inline-block;
      float: left;
      margin-top: 4px;
    }
    select.form_value.niccce,
    input.form_value.niccce {
      border-color: @blue;
      color: @blue;
    }
    select {
      option {
        color: darken(@grey, 20%);
      }
    }
  }
  .form_label {
    margin: 0px;
    label {
      font-weight: 500;
      margin: 0px;
      color: @text-color;
      line-height: 2.2;
    }
  }
  .form_item.form_page {
    background-color: @white !important;
    margin-bottom: 15px;
    display: none;
  }
  h2 {
    color: rgba(0, 0, 0, 0.75);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }
  .fa-check,
  .fa-times,
  .fa-minus {
    display: none;
  }
}

/* form_radio */

.form_radio {
  margin-bottom: 0px;
  padding: 0px;
  list-style-type: none !important;
}
.form_radio li {
  display: inline-block;
  width: ~"calc(50% - 8px)";
  height: 40px;
  position: relative;
  margin: 0px;
  margin-right: 0%;
  line-height: 40px;
  text-align: center;
  &:nth-child(1) {
    margin-right: 7px;
  }
  &:nth-child(2) {
    margin-left: 8px;
  }
}
.form_radio li label, .form_radio li input {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
}
.form_radio li input[type=radio] {
  opacity: 0.01;
  z-index: 100;
  margin-top: 0px;
  height: 100%;
}
.form_radio li label {
  border: 1px solid @grey;
  color: darken(@grey, 20%);
  margin-bottom: 0px;
  z-index: 101;
  background-color: #ffffff;
  font-weight: 300;
  transition: 0.6s;
  text-transform: uppercase;
  line-height: 40px;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.2);
}
.form_radio li label.radio_ubez {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.form_radio li label:hover {
  border-color: lighten(@blue, 20%);
  color: lighten(@blue, 20%);
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 7px 0px rgba(0,0,0,0.3);
  transition: 0.5s;
}
.form_radio li input[type=radio]:checked + label {
  font-weight: 500;
  background-color: @blue;
  color: lighten(@blue, 95%);
  border-color: @blue;
  -webkit-box-shadow: inset 1px 2px 4px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 1px 2px 4px 0px rgba(0,0,0,0.1);
  box-shadow: inset 1px 2px 4px 0px rgba(0,0,0,0.1);
}
.form_radio li input.active + label {
  color: @white !important;
  border-color: red !important;
  background-color: red !important;
  transition: 0.4s;
}

ul.form_radio.large {
  li:nth-child(n) {
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    clear: both;
    line-height: 30px;
    label {
      position: relative;
      width: 100%;
      margin-top: 20px;
      padding: 8px 16px;
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darken(@grey, 20%);
}
::-moz-placeholder { /* Firefox 19+ */
  color: darken(@grey, 20%);
}
:-ms-input-placeholder { /* IE 10+ */
  color: darken(@grey, 20%);
}
:-moz-placeholder { /* Firefox 18- */
  color: darken(@grey, 20%);
}
:-moz-select-placeholder { /* Firefox 18- */
  color: darken(@grey, 20%);
}

#phone_form .form_section .form_item.form_page {
  display: block !important;
}
