.form_field {
  position: relative;
  .alert-icon-s, .alert-icon {
    &:nth-child(n+3) {
      display: none !important;
    }
    i {
      color: @blue;
      position: absolute;
      top: 7px;
      right: 24px;
      font-size: 16px;
      background-color: white;
      padding-left: 10px;
    }
  }
  .alert-mss {
    display: none;
    color: rgba(254, 34, 34, 0.7);
  }
}
.form_field.select {
  .alert-icon, .alert-icon-s {
    i {
      right: 36px;
    }
  }
}
