
.sub_content.main_extended {
  background-color: @orange;
  height: 300px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 15px 0px 15px;
  button {
    margin: auto;
  }
}

.part.white-text {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-weight: bold;
  padding: 30px;
  height: auto;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    padding: 35px;
  }
  h1 {
    font-size: 45px;
    margin: 0px;
  }
}

.flex {
  display: -webkit-flex; /* Safari */
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-flex-direction: column; /* Safari */
  flex-direction:         column;
  @media screen and (min-width: 768px) {
    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
  }
  .img {
    position: relative;
    -webkit-align-self: stretch;
    align-self: stretch;
    @media screen and (max-width: 768px) {
      height: 250px;
    }
  }
  .text {
    margin-top: 30px;
    margin-bottom: 25%;
    // @media screen and (min-width: 500px) {
    //   margin-bottom: 50%;
    // }
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
      margin-top: 50px;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 150px;
      margin-top: 150px;
    }
    @media screen and (min-width: 1400px) {
      margin-bottom: 250px;
      margin-top: 250px;
    }
    h1 {
      text-transform: uppercase;
      margin-bottom: 50px;
      width: 100%;
      position: relative;
      &:after {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        width: 100%;
        position: absolute;
        bottom: -25px;
        left: 0px;
      }
    }
  }
}
.lp {
  .flex {
    .text {
      @media screen and (min-width: 992px) {
        margin-bottom: 90px;
        margin-top: 90px;
      }
      @media screen and (min-width: 1400px) {
        margin-bottom: 100px;
        margin-top: 100px;
      }
    }
  }
}
.orange, .blue {
  .text {
    h1, p {
      color: @text-white;
      text-align: center;
      font-weight: 400;
      &:after {
        background-color: @text-white;
      }
      @media screen and (min-width: 768px) {
        text-align: left;
      }
    }
  }
}
.white-top, .white-bottom {
  .text {
    h1, p {
      color: @text-color;
      text-align: center;
      font-weight: 400;
      &:after {
        background-color: @text-color;
      }
      @media screen and (min-width: 768px) {
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .orange, .blue, .white-top, .white-bottom {
    padding-top: 50px;
  }
}

.part.green {
  .text {
    color: @text-white;
    text-align: center;
    h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 200;
      margin-bottom: 0px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
      @media screen and (min-width: 550px) {
        font-size: 60px;
      }
      @media screen and (min-width: 1100px) {
        font-size: 90px;
      }
    }
    h2 {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: 600;
      margin: 0px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
      @media screen and (min-width: 550px) {
        font-size: 30px;
      }
      @media screen and (min-width: 1100px) {
        font-size: 55px;
      }
    }
    h3 {
      font-size: 70px;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 0px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
      @media screen and (min-width: 550px) {
        font-size: 105px;
      }
      @media screen and (min-width: 1100px) {
        font-size: 160px;
      }
    }
    .btn_next.btn_red {
      margin: 50px auto;
      background-color: @orange;
      color: @white;
      border-color: @orange;
      &:hover {
        background-color: @green;
        border-color: @white;
        color: @white;
      }
      &:active, &:focus {
        background-color: lighten(@green, 20%);
        border-color: @white;
        color: @white;
      }
    }
  }
}

.part.green {
  .text {
    margin-top: 30px;
    margin-bottom: 25%;
    @media screen and (min-width: 500px) {
      margin-bottom: 25%;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 50px;
      margin-top: 50px;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 50px;
      margin-top: 50px;
    }
    @media screen and (min-width: 1400px) {
      margin-bottom: 50px;
      margin-top: 50px;
    }
  }
}
