/* graphic */

.part {
  .graphic {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (min-width: 768px) {
      width: 100%;
    }
    @media screen and (min-width: 992px) {
      height: 350px;
    }
  }
}
.green {
  .graphic {
    background-image: url("../img/graphics/part1.png");
    @media screen and (min-width: 768px) {
      left: 0;
    }
  }
}
.orange {
  //overflow: hidden;
  .graphic {
    background-image: url("../img/graphics/part2.png");
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
    background-position: center;
    background-size: 350px;
    height: 350px;
    width: 350px;
    bottom: -70px;
    left: 35px;
    @media screen and (min-width: 992px) {
      background-size: 450px;
      height: 450px;
      width: 450px;
    }
  }
}
.white-top {
  .graphic {
    background-image: url("../img/graphics/part3.png");
  }
}
.blue {
  .graphic {
    background-image: url("../img/graphics/part4.png");
  }
}
.white-bottom {
  .graphic {
    background-image: url("../img/graphics/part5.png");
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background-position: center -20px;
  }
}
@media screen and (min-width: 768px) {
  .orange .graphic {
    left: 0;
  }
  .blue .graphic {
    left: 0;
  }
  .white-top .graphic,
  .white-bottom .graphic {
    right: calc(~"50% + 10px");
  }
}
@media screen and (min-width: 1100px) {
  .orange .graphic {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    background-size: 650px;
    height: 550px;
    width: 550px;
    right: 0px;
    top: -100px;
  }
  .white-top .graphic {
    background-size: 550px;
    height: 550px;
    width: 550px;
    left: 100px;
    bottom: -75px;
  }
  .blue .graphic {
    right: 150px;
    width: 500px;
    height: 500px;
    background-size: cover;
  }
  .white-bottom .graphic {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    left: 100px;
    top: -75px;
    background-position: center;
    width: 550px;
    height: 550px;
    background-size: 550px;
  }
}
@media screen and (min-width: 1300px) {
  .orange .graphic {
    background-size: 750px;
    height: 750px;
    width: 750px;
    top: -175px;
  }
  .white-top .graphic {
    background-size: 550px;
    height: 550px;
    width: 550px;
  }
  .blue .graphic {
    right: 150px;
    width: 500px;
    height: 500px;
    background-size: cover;
  }
}
@media screen and (min-width: 1500px) {
  .orange .graphic {
    background-size: 850px;
    top: -125px;
  }
  .white-top .graphic {
    background-size: 750px;
    height: 750px;
    width: 750px;
  }
  .blue .graphic {
    width: 650px;
    height: 650px;
    background-size: cover;
  }
  .white-bottom .graphic {
    width: 650px;
    height: 650px;
    background-size: 650px;
  }
}
