/* background shape */

.part.orange,
.part.white-top,
.part.blue,
.part.white-bottom {
  .shape {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    height: 223px;
    width: calc(~"100% - 60px");
    background-color: rgba(0, 0, 0, 0.05);
    overflow: visible;
    @media screen and (min-width: 768px) {
      width: calc(~"100% - 60px");
    }
    @media screen and (min-width: 1100px) {
      width: 100%;
      height: 300px;
    }
    @media screen and (min-width: 1400px) {
      height: 450px;
    }
    &:before, &:after {
      position: absolute;
      display: block;
      content: "";
    }
    &:before {
      top: -70px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-bottom-width: 0px;
      border-top-width: 70px;
      @media screen and (min-width: 1100px) {
        top: -150px;
        border-top-width: 150px;
      }
    }
    &:after {
      bottom: 0px;
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 0px;
      border-bottom: 223px solid rgba(0, 0, 0, 0.05);
      @media screen and (min-width: 1100px) {
        border-bottom: 300px solid rgba(0, 0, 0, 0.05);
      }
      @media screen and (min-width: 1400px) {
        border-bottom: 450px solid rgba(0, 0, 0, 0.05);
      }
    }
  }
}
.part.orange,
.part.blue {
  .shape {
    right: 0px;
    &:before {
      right: 0px;
      border-right: calc(~"100vw - 60px") solid rgba(0, 0, 0, 0.05);
      @media screen and (min-width: 768px) {
        border-right: calc(~"50vw - 60px") solid rgba(0, 0, 0, 0.05);
      }
      @media screen and (min-width: 1100px) {
        border-right: 50vw solid rgba(0, 0, 0, 0.05);
      }
    }
    &:after {
      left: -60px;
      border-left-width: 60px;
      @media screen and (min-width: 1100px) {
        left: -100px;
        border-left-width: 100px;
      }
    }
  }
}
.part.white-top,
.part.white-bottom {
  .shape {
    left: 0px;
    &:before {
      left: 0px;
      border-left: calc(~"100vw - 60px") solid rgba(0, 0, 0, 0.05);
      @media screen and (min-width: 768px) {
        border-left: calc(~"50vw - 60px") solid rgba(0, 0, 0, 0.05);
      }
      @media screen and (min-width: 1100px) {
        border-left: 50vw solid rgba(0, 0, 0, 0.05);
      }
    }
    &:after {
      right: -60px;
      border-right-width: 60px;
      @media screen and (min-width: 1100px) {
        right: -100px;
        border-right-width: 100px;
      }
    }
  }
}
