/* main page parts */

.part {
  //height: 446px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -50px;
    left: calc(~"50% - 50px");
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 50px;
    border-right-width: 50px;
    z-index: 10;
  }
  @media screen and (min-width: 768px) {
    //height: 335px;
  }
  @media screen and (min-width: 992px) {
    //height: 775px;
  }
}
.green {
  background-color: @green;
  &:after {
    display: none;
  }
}
.white-text {
  background-color: @white;
  z-index: 2000;
  &:after {
    border-top: 50px solid @white;
    @media screen and (min-width: 1100px) {

    }
  }
}
.orange {
  background-color: @orange;
  &:after {
    border-top: 50px solid @orange;
    @media screen and (min-width: 1100px) {
      border-top: 50px solid #f25320;
    }
  }
}
.white-top {
  background-color: @white;
  &:after {
    border-top: 50px solid @white;
    @media screen and (min-width: 1100px) {
      border-top: 50px solid #f3f3f3;
    }
  }
}
.blue {
  background-color: @blue;
  z-index: 20;
  &:after {
    border-top: 50px solid @blue;
    @media screen and (min-width: 1100px) {
      border-top: 50px solid #03a1ea;
    }
  }
}
.white-bottom {
  background-color: @white;
  z-index: 10;
  &:after {
    border-top: 50px solid @white;
    @media screen and (min-width: 1100px) {
      border-top: 50px solid #f3f3f3;
    }
  }
}
