/* menu xs */

.menu {
  height: 90px;
  padding: 25px 20px;
  background-color: @white;
  .logo {
    display: inline-block;
    .img {
      background-image: url('../img/graphics/Finansowy_Planer_logo_male1.png');
      background-size: 150px 36px;
      background-repeat: no-repeat;
      background-position: center;
      display: block;
      content: "";
      height: 35px;
      width: 150px;
      /* 40px, 180px */
    }
  }
  .col-xs-4.hidden-sm.hidden-md.hidden-lg {
    padding: 0 5px 0 5px;
    .contact-icons {
      display: -webkit-flex; /* Safari */
      display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
      display: -ms-flexbox;  /* TWEENER - IE 10 */
      display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
      display: flex;
      -webkit-justify-content: space-between; /* Safari */
      justify-content:         space-between;
      -webkit-align-items: flex-end; /* Safari */
      align-items:         flex-end;
      width: 100%;
      height: 40px;
      .icon {
        .email {
          display: block;
          content: "";
          height: 30px;
          width: 30px;
          background-image: url(../img/graphics/envelope-o.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        .phone {
          display: block;
          content: "";
          height: 30px;
          width: 30px;
          background-image: url(../img/graphics/phone-o.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
  .hidden-xs.col-sm-9.col-md-6.col-lg-6 {
    position: relative;
    .orange-strip {
      padding-right: 0px;
      position: absolute;
      top: -25px;
      right: -5px;
      width: 100%;
      background-color: #fe5722;
      height: 30px;
      background-color: @orange;
      display: -webkit-inline-box;
      display: -moz-inline-box;
      display: -ms-inline-flexbox;
      display: -webkit-inline-flex;
      display: inline-flex;
      -webkit-align-items: center;
      align-items: center;
      &:before {
        position: absolute;
        top: 0px;
        left: -30px;
        display: block;
        content: "";
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-top-width: 0px;
        border-bottom-width: 30px;
        border-right: 30px solid @orange;
      }
      .phone, .email {
        display: -webkit-inline-box;
        display: -moz-inline-box;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -webkit-align-items: center;
        align-items: center;
        a, a:hover, a:active, a:focus {
          color: @white;
          text-decoration: none;
          cursor: pointer;
        }
        .img {
          margin-right: 5px;
          display: block;
          content: "";
          height: 15px;
          width: 15px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
      .phone {
        .img {
          background-image: url(../img/graphics/envelope-w.png);
        }
      }
      .email {
        .img {
          background-image: url(../img/graphics/phone-w.png);
        }
      }
    }
  }
}
