
.modal-open {
  overflow: hidden;
}

.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  background-clip: padding-box;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header:before, .modal-header:after {
  content: " ";
  display: table;
}
.modal-header:after {
  clear: both;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer:before, .modal-footer:after {
  content: " ";
  display: table;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }

  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }

  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}




.modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.modal-content .modal_section {
  display: none;
}
.modal-content .fa-spin {
  display: block;
  margin: 0px auto;
  color: #666666;
}
.modal-content form#additional_form .form_section {
  display: none;
}
.modal-content form#additional_form .form_section .form_item {
  display: none;
}
.modal-content form#additional_form .form_section .active {
  display: block !important;
}

#modal_sms .modal-body {
  transition: 0.5s;
}
#modal_sms .modal-body p {
  text-align: center;
}
#modal_sms .modal-body #new_code {
  display: block;
}
#modal_sms .modal-body .new_code_mess {
  display: none;
  margin-left: 10px;
}
#modal_sms .modal-body .form_item {
  margin: 30px 0px;
}
#modal_sms .modal-body .form_item .form_label {
  padding: 10px;
  display: inline-block;
}
#modal_sms .modal-body .form_item .form_label label {
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 300;
  margin: 0px;
  padding-top: 5px;
}
#modal_sms .modal-body .form_item .form_field {
  display: inline-block;
  padding: 10px;
}
#modal_sms .modal-body .form_item .form_field .form_value {
  border: 1px solid #666666;
  padding: 5px;
  color: #666666;
  background-color: #ffffff;
}
#modal_sms .modal-body .form_item .form_field .form_value::-webkit-input-placeholder {
  color: #666666;
  font-weight: 300;
  opacity: 1 !important;
}
#modal_sms .modal-body .form_item .form_field .form_value:-moz-placeholder {
  color: #666666;
  font-weight: 300;
  opacity: 1 !important;
}
#modal_sms .modal-body .form_item .form_field .form_value::-moz-placeholder {
  color: #666666;
  font-weight: 300;
  opacity: 1 !important;
}
#modal_sms .modal-body .form_item .form_field .form_value:-ms-input-placeholder {
  color: #666666;
  font-weight: 300;
  opacity: 1 !important;
}
#modal_sms .modal-body .form_item .form_field .form_value:focus {
  border-color: #4bb3cd;
  box-shadow: 0px 0px 10px #c2c2c2;
  -webkit-box-shadow: 0px 0px 10px 0px #c2c2c2;
  -moz-box-shadow: 0px 0px 10px 0px #c2c2c2;
  box-shadow: 0px 0px 10px 0px #c2c2c2;
}
#modal_sms .modal-body .form_item .sms_mess {
  text-align: center;
  display: none;
}
#modal_sms .modal-body .form_item #sms_git > h2 {
  color: green !important;
}
#modal_sms .modal-body .form_item #sms_error > h2 {
  color: red;
}
#modal_sms .modal-body #new_phone_wrapper {
  display: none;
}
#modal_sms .modal-body #new_phone_wrapper .form_field .form_value {
  width: 80% !important;
}
#modal_sms .modal-body #new_phone_wrapper .form_field .niccce {
  border-color: green;
}
#modal_sms .modal-body #new_phone_wrapper .form_field .notniccce {
  border-color: red;
}
#modal_sms .modal-body #new_phone_wrapper .form_field #phone_new_submit {
  color: #ffffff;
  background-color: #4bb3cd;
  width: 19% !important;
  padding: 4px;
  border: 1px solid #ffffff;
  transition: 0.4s;
}
#modal_sms .modal-body #new_phone_wrapper .form_field #phone_new_submit:hover {
  color: #4bb3cd;
  background-color: #ffffff;
  border-color: #4bb3cd;
  -webkit-box-shadow: 0px 0px 10px 0px #c2c2c2;
  -moz-box-shadow: 0px 0px 10px 0px #c2c2c2;
  box-shadow: 0px 0px 10px 0px #c2c2c2;
  transition: 0.4s;
}
#modal_sms .modal-body #new_phone_wrapper .new_phone_mess {
  display: none;
}
@media (min-width: 768px) {
  #modal_sms .modal-body #new_phone_wrapper .new_phone_mess {
    margin-left: 50%;
  }
}
@media (max-width: 767px) {
  #modal_sms .modal-body #new_phone_wrapper .new_phone_mess {
    margin-left: 10px;
  }
}
#modal_sms .modal-body #new_phone_wrapper #new_phone_good {
  color: green;
}
#modal_sms .modal-body #new_phone_wrapper #new_phone_bad {
  color: red;
}
#modal_sms .modal-footer {
  text-align: right;
}
#modal_sms .modal-footer #sms_check {
  margin: 0px;
  display: inline-block;
}
#modal_sms .modal-footer #btn_skip {
  margin: 0px;
  display: inline-block;
}

@media (min-width: 992px) {
  #modal_sms .modal-body .form_item .form_label {
    width: 49%;
  }
  #modal_sms .modal-body .form_item .form_field {
    width: 49%;
  }
  #modal_sms .modal-body .form_item .form_field .form_value {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #modal_sms .modal-body .form_item .form_label {
    width: 100%;
  }
  #modal_sms .modal-body .form_item .form_field {
    width: 100%;
  }
  #modal_sms .modal-body .form_item .form_field .form_value {
    width: 100%;
  }
}

.modal_camp_section p, #modal_camp p {
  margin-top: 10px !important;
}

#modal_zgody .modal-dialog .modal-content .modal_section .modal-body p {
  font-size: 13px;
}
