// loading
//wait_standard, wait_banners
.modal-body {
  .padding {
  	padding: 20px;
  }
  .loader {
      border: 10px solid #f3f3f3;
      border-top: 10px solid #fe5722;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
}

//.modal-content
//wyglad ogolny okna modala, z-index
.modal {
  z-index: 5000 !important;
  .modal-content {
    position: relative;
    background-color: #fff;
    border: 0px;
    border-radius: 2px;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  }
}
.modal-header {
  border: 0px;
}
.modal-footer {
  border: 0px;
  padding: 15px;
}

// modal footer
.modal-footer {
  .btn_base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px auto;
    background-color: #fe5722;
    color: #fff;
    border: 2px solid #fe5722;
    border-radius: 2px;
    text-transform: uppercase;
    padding: 8px 20px;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
    i {
      display: none;
    }
  }
  @media screen and (min-width: 500px) {
    padding: 15px 30px;
    .btn_lp_modal_next, .btn_lp_skip {
      margin: 50px auto;
      padding: 8px 32px;
    }
  }
}

// modal scroll
// .modal-content {
//     max-height: ~"calc(100vh - 210px)";
//     overflow-y: auto;
// }

// do stylowania, bo zaczynam sie wkurwiac w chuj
// .modal.fade.bs-example-modal-lg {
//   opacity: 1 !important;
//   display: block !important;
// }

// zatwierdz, pomin
.btn_lp_modal_next, .btn_lp_skip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 8px 32px;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
  i {
    display: none;
  }
}

.btn_lp_modal_next {
  background-color: @orange;
  color: #fff;
  border: 2px solid @orange;
  &:hover {
    background-color: @white;
    border: 2px solid @orange;
    color: @orange;
  }
  &:active, &:focus {
    background-color: lighten(@orange, 10%);
    color: @white;
    border: 2px solid @white;
  }
}

.btn_lp_skip {
  background-color: @white;
  border: 2px solid @orange;
  color: @orange;
  &:hover {
    background-color: @orange;
    color: #fff;
    border: 2px solid @orange;
  }
  &:active, &:focus {
    background-color: lighten(@orange, 10%);
    color: @white;
    border: 2px solid @white;
  }
}

// form
form {
  .form_item {
    background-color: @white !important;
  }
}

// grey-top
//jednak orange xD
.modal_section.grey-modal {
  .modal-header {
    background-color: @orange;
    margin-bottom: 75px;
    text-transform: uppercase;
    position: relative;
    color: @white;
    h1, h2, h3, p {
      text-align: center;
      color: @white;
    }
    @media screen and (min-width: 768px) {
      h1, h2, h3, p {
        text-align: left;
      }
    }
    &:after {
      display: block;
      content: "";
      position: absolute;
      bottom: -50px;
      left: ~"calc(50% - 50px)";
      width: 0;
      height: 0;
      border: 0 solid transparent;
      border-left-width: 50px;
      border-right-width: 50px;
      z-index: 10;
      border-top: 50px solid @orange;
    }
  }
}

// przycisk zapisania numeru telefonu
#phone_new_submit {
  float: right;
  margin: 10px 0 10px 10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fe5722;
  color: #fff;
  border: 2px solid #fe5722;
  border-radius: 2px;
  text-transform: uppercase;
  padding: 8px 32px;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 4px 0px rgba(0, 0, 0, 0.3);
  i {
    display: none;
  }
}

//display: none do JSow
#new_phone_wrapper, #new_code_good, #new_code_wait, #new_code_bad {
  display: none;
}
.form_item {
  #sms_git, #sms_error {
    display: none;
    font-weight: 500;

  }
  #sms_git {
    color: red;
  }
  #sms_error {
    color: green;
  }
}
