.results_header {
  height: 465px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-color: @orange;
  padding: 15px;
  display: -webkit-flex; /* Safari */
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  -webkit-align-items: flex-end; /* Safari */
  align-items:         flex-end;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
  // @media screen and (min-width: 768px) and (max-width: 992px){
  //   height: 490px;
  // }
  .xs_cat_menu {
    h1 {
      text-align: center;
      color: @white;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: bold;
      margin-top: 0px;
      @media screen and (min-width: 768px) {
        float: left;
      }
    }
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      li {
        position: relative;
        display: block;
        clear: both;
        //padding: 25px 15px;
        border: 2px solid #fff;
        margin: 5px 0;
        -webkit-transition: background-color 250ms ease-in-out 0.1s;
        -moz-transition: background-color 250ms ease-in-out 0.1s;
        -o-transition: background-color 250ms ease-in-out 0.1s;
        transition: background-color 250ms ease-in-out 0.1s;
        width: 100%;
        border-radius: 2px;
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        &:hover {
          background-color: rgba(255, 255, 255, 0.25);
        }
        @media screen and (min-width: 600px) {
          width: 465px;
        }
        a {
          text-decoration: none;
          color: @white;
          font-weight: 500;
          padding: 40px 50%;
          display: block;
          @media screen and (min-width: 600px) {
            padding: 45px 50%;
          }
          p {
            margin: 0px;
            padding: 0px;
            position: absolute;
            top: 30px;
            left: 83px;
            text-transform: uppercase;
            text-shadow: 1px 0px 2px rgba(150, 150, 150, 0.5);
            font-size: 16px;
            @media screen and (min-width: 600px) {
              font-size: 24px;
              left: 124px;
            }
          }
        }
        .marekpietkamistrz {
          top: 5px;
          left: 5px;
          position: absolute;
          z-index: 1000;
          height: 70px;
          width: 70px;
          @media screen and (min-width: 600px) {
            top: 10px;
            left: 22px;
          }
          @media screen and (min-width: 768px) {
            top: 6px;
            height: 80px;
          }
          #score_icon {
            top: 5px;
            left: 0px;
            .icon_cover {
              @media screen and (min-width: 768px) {
                width: 56px;
                height: 56px;
                top: 7px;
              }
            }
            .results_icon_numba {
              font-size: 17px;
              top: 18px;
              @media screen and (min-width: 768px) {
                font-size: 20px;
                top: 22px;
              }
            }
          }
        }
      }
      li.active {
        background-color: rgba(255, 255, 255, 0.95);
        a {
          color: rgb(245, 137, 102);
        }
        @media screen and (max-width: 768px) {
          .marekpietkamistrz {
            .results_icon_numba {
              color: #f39069;
              span {
                color: #f39069;
              }
            }
          }
        }
      }
    }
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -50px;
    left: calc(~"50% - 50px");
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 50px;
    border-right-width: 50px;
    z-index: 10;
    border-top: 50px solid @orange;
  }
}



.results_header {
  position: relative;
  .img {
    display: block;
    content: "";
    position: absolute;
    bottom: 0px;
    left: 60%;
    width: 40%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/graphics/part1.png");
    @media screen and (min-width: 992px) {
      width: 50%;
      left: 50%;
      height: 350px;
    }
    // @media screen and (min-width: 1200px) {
    //   width: 50%;
    //   left: 50%;
    // }
  }
}
