#results_banners_container_lg {
  margin:					30px 0px;
  @media screen and (min-width: 992px) {
    margin: 30px 95px;
  }
  @media screen and (min-width: 1200px) {
    margin: 30px 195px;
  }
}
.results_banners_btn_lg_ready {
  display:				block;
  margin:					0px auto;
  margin-top:				20px;
  margin-bottom:			20px;
  background-color: transparent;
  border: 0px;
  width:					auto;
  @media screen and (min-width: 768px) {
    width: 100%;
  }
  &:hover {
    // .bann_arrow_wrapper {
    //   .bann_arrow {
    //     visibility: visible;
    //     opacity: 1;
    //     display: block;
    //   }
    // }
    .results_banners_item_lg {
      .bann_hover {
        opacity: 1;
      }
    }
  }
  .results_banners_item_lg {
    border:	0px;
    position: relative;
    min-height:	100px;
    .bann_hover {
      opacity: 0;
      position:	absolute;
      top: 0px;
      right: 0px;
      bottom:	0px;
      left:	0px;
      background-color: rgba(0, 0, 0, 0.5);
      transition:	all 0.9s;
      display: block;
      padding: 5px;
      @media screen and (min-width: 768px) {
        padding: 5px;
      }
      @media screen and (min-width: 992px) {
        padding: 10px;
      }
      @media screen and (min-width: 1200px) {
        padding: 20px;
      }
      p {
        display: block;
        text-align: center;
        //border:	1px solid @white;
        color: @white;
        padding:	20px;
        margin-top:	0px;
        font-size: 20px;
        @media screen and (min-width: 1200px) {
          margin-top:	20px;
        }
        span {
          font-size: 33px;
        }
      }
    }
    .bann_hover.active {
      opacity: 1;
    }
    .bann_kom {
      position:	absolute;
      top: 0px;
      right: 0px;
      bottom:	0px;
      left:	0px;
      background-color: rgba(0, 0, 0, 0.8);
      padding: 20px;
      p {
        margin-top:	30px;
        display: block;
        text-align: center;
        border:	1px solid @white;
        color: @white;
        padding: 20px;
        font-size: 33px;
        @media (max-width: 768px) {
          margin-top:	0px;
        }
      }
    }
    .bann_img {
      img {
        width: 100%;
      }
    }
    .bann_img.big {
      display: none;
    }
    .bann_img.small {
      display: block;
    }
		@media screen and (min-width: 768px) {
      .bann_img.big {
        display: block;
        img {
          max-height:	200px;
        }
      }
      .bann_img.small {
        display: none;
      }
    }
  }
  .bann_arrow_wrapper {
    border-top:	0px solid @orange;
    height:	50px;
    .bann_arrow {
      float: right;
      background-color:	@orange;
      margin-top: 5px;
      z-index: 1000;
      display: block;
      position: relative;
      width: 100%;
      border-radius: 2px;
      text-transform: uppercase;
      -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);
      -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);
      @media screen and (min-width: 768px) {
        width: 60%;
        margin-right: -15px;
      }
      p {
        line-height: 40px;
        display: inline;
        color: @white;
        font-weight: 700;
        margin: 0px;
        padding: 0px 20px;
      }
      img {
        display: none;
      }
    }
  }
}

.results_banners_btn_lg_send {
  .bann_arrow_wrapper {
    display: none;
  }
}

.results_banners_btn_lg_form {
  .bann_arrow_wrapper {
    display: none;
  }
}
