.orange-text {
  margin-bottom: 100px;
  position: relative;
  h1, h2, h3, p, span, * {
    text-align: center;
    color: @orange;
    font-size: 18px;
  }
  &:after {
    position: absolute;
    bottom: -30px;
    left: -20%;
    width: 150%;
    height: 10px;
    display: block;
    content: "";
    background-color: @orange;
  }
  &:before {
    display: block;
    content: "";
    position: absolute;
    bottom: -80px;
    left: ~"calc(50% - 50px)";
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 50px;
    border-right-width: 50px;
    z-index: 10;
    border-top: 50px solid #fe5722;
  }
}

.container.results {
  margin-bottom: 50px;
  .results_icon {
    width: 130px;
    height: 130px;
  }
  .results_text {
    h1, h2, h3, p, span, * {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}
