.regs_menu_xs {
  background-color: @grey;
  padding: 15px;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
display: flex; ;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  overflow: visible;
  position: relative;
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -50px;
    left: calc(~"50% - 50px");
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 50px;
    border-right-width: 50px;
    border-top: 50px solid @grey;
    z-index: 10;
  }
  ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    li {
      a {
        color: white;
        &:hover,
        &:focus,
        &:active {
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
    li.active {
      a {
        font-weight: bold;
      }
    }
  }
}
.container.regs {
  margin: 50px auto;
  h1 {
    font-size: 18px;
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  }
}
