.phone_header {
//  height: 446px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-color: @orange;
  padding: 5px;
  margin-bottom: 100px;
  @media screen and (min-width: 768px) {
    //height: 335px;
    padding: 40px;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 150px;
  }
  @media screen and (min-width: 1100px) {
    width: 100%;
    background-size: contain;
    margin-bottom: 150px;
  }
  &:after {
    display: block;
    content: "";
    position: absolute;
    bottom: -50px;
    left: calc(~"50% - 50px");
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 50px;
    border-right-width: 50px;
    z-index: 10;
    border-top: 50px solid @orange;
  }
  .flex {
    display: -webkit-flex; /* Safari */
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;
    @media screen and (min-width: 768px) {
      -webkit-flex-direction: row; /* Safari */
      flex-direction:         row;
    }
  }
  .relative.stretch {
    position: relative;
    -webkit-align-self: stretch;
    align-self: stretch;
    min-height: 195px;
    .img {
      display: block;
      content: "";
      position: absolute;
      //bottom: 0px;
      left: 0;
      width: 100%;
      height: 200px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("../img/graphics/part1.png");
      @media screen and (min-width: 768px) {
        width: 100%;
        right: 0;
        left: inherit;
        height: 80%;
        bottom: -40px;
      }
      @media screen and (min-width: 1100px) {
        width: 100%;
        height: 80%;
        bottom: -40px;
      }
    }
  }
  h1, p {
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
    @media screen and (min-width: 768px) {
      //text-align: left;
    }
  }
  h1 {
    font-weight: 600;
    font-size: 25px;
    br {
      display: none;
      @media screen and (min-width: 500px) {
        display: block;
      }
    }
    @media screen and (min-width: 768px) {
      font-size: 28px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1100px) {
      font-size: 35px;
      margin-top: 40px;
      margin-bottom: 65px;
    }
  }
  p {
    line-height: 30px;
    @media screen and (min-width: 1100px) {
      line-height: 45px;
      text-align: left;
      font-size: 20px;
      margin: 25px 0 10px 0;
    }
  }
  ul {
    list-style-type: none;
    color: rgba(255, 255, 255, 0.9);
    padding-left: 35px;
  }
}

#phone_form {
  .border {
    border: 2px solid @blue;
    width: 100%;
    margin-bottom: 70px;
    @media screen and (min-width: 768px) {

    }
    .form_item {
      position: relative;
      margin: 0px;
      .form_field {
        input {
          border: 0px;
          padding: 8px 32px;
          text-transform: uppercase;
          color: @blue;
          line-height: 1.7;
          text-align: center;
          font-size: 20px;
          @media screen and (min-width: 768px) {
            text-align: left;
            padding: 16px 32px;
          }
        }
        .alert-mss {
          color: rgba(254, 34, 34, 0.7);
          position: absolute;
          top: -25px;
          @media screen and (min-width: 768px) {
            top: 75px;
          }
        }
        .alert-icon, .alert-icon-s {
          display: none !important;
          // i {
          //   top: 19px;
          //   right: 32px;
          // }
        }
      }
      .btn_form_next {
        background-color: @orange;
        border: 2px solid @orange;
        padding: 8px 32px;
        font-size: 16px;
        width: ~"calc(100% - 10px)";
        margin: 5px;
        @media screen and (min-width: 768px) {
          width: auto;
          position: absolute;
          margin: 0px;
          top: 11px;
          right: 32px;
        }
        &:hover, &:active, &:focus {
          color: @white;
        }
      }
    }
  }
}
