#lp_slider_content #lp_slider_head,
#lp_slider_content #lp_supershort_head,
#lp_supershort_body #lp_slider_head,
#lp_supershort_body #lp_supershort_head {
  position: relative;
  min-height: 1px;
  position: relative;
  min-height: 1px;
}
@media (min-width: 768px) {
  #lp_slider_content #lp_slider_head,
  #lp_slider_content #lp_supershort_head,
  #lp_supershort_body #lp_slider_head,
  #lp_supershort_body #lp_supershort_head {
  }
}
@media (min-width: 992px) {
  #lp_slider_content #lp_slider_head,
  #lp_slider_content #lp_supershort_head,
  #lp_supershort_body #lp_slider_head,
  #lp_supershort_body #lp_supershort_head {
  }
}
#lp_slider_content #lp_slider_head h1,
#lp_slider_content #lp_supershort_head h1,
#lp_supershort_body #lp_slider_head h1,
#lp_supershort_body #lp_supershort_head h1 {
  font-size: 40px;
}
#lp_slider_content #lp_slider_body,
#lp_slider_content #lp_supershort_body,
#lp_supershort_body #lp_slider_body,
#lp_supershort_body #lp_supershort_body {
  position: relative;
  min-height: 1px;
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
}
@media (min-width: 992px) {
  #lp_slider_content #lp_slider_body,
  #lp_slider_content #lp_supershort_body,
  #lp_supershort_body #lp_slider_body,
  #lp_supershort_body #lp_supershort_body {
  }
}
@media (min-width: 992px) {
  #lp_slider_content #lp_slider_body,
  #lp_slider_content #lp_supershort_body,
  #lp_supershort_body #lp_slider_body,
  #lp_supershort_body #lp_supershort_body {
  }
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider {
  margin-top: 20px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #slider_value,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #slider_value,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #slider_value,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #slider_value,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #slider_value,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #slider_value,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #slider_value,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #slider_value {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  color: @blue !important;
  margin-top: 20px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider {
  margin: 20px 0px;
  border-color: transparent;
  background-color: rgba(3, 169, 245, 0.23);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .slider_dsc,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .slider_dsc,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .slider_dsc,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .slider_dsc,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .slider_dsc,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .slider_dsc,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .slider_dsc,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .slider_dsc {
  position: absolute;
  top: 20px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_start,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_start,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_start,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_start,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_start,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_start,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_start,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_start {
  left: 0px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_end,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_end,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_end,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_end,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_end,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_end,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider #slider_end,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider #slider_end {
  right: 0px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lp_slider_body_slider #lp_slider .ui-slider-handle {
  background-color: @blue !important;
  border: 5px solid rgb(3, 169, 245);
  top: -0.5em;
  width: 1.5em;
  height: 1.5em;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.46);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  outline: 0px;
  cursor: grab;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #btn_lp_slider,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #btn_lp_slider,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #btn_lp_slider,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #btn_lp_slider,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #btn_lp_slider,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #btn_lp_slider,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #btn_lp_slider,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #btn_lp_slider {
  display: block;
  margin-top: 50px;
}
#lp_slider_content #lp_slider_body #lp_slider_body_inner #lpk_form,
#lp_slider_content #lp_slider_body #lp_supershort_body_inner #lpk_form,
#lp_slider_content #lp_supershort_body #lp_slider_body_inner #lpk_form,
#lp_slider_content #lp_supershort_body #lp_supershort_body_inner #lpk_form,
#lp_supershort_body #lp_slider_body #lp_slider_body_inner #lpk_form,
#lp_supershort_body #lp_slider_body #lp_supershort_body_inner #lpk_form,
#lp_supershort_body #lp_supershort_body #lp_slider_body_inner #lpk_form,
#lp_supershort_body #lp_supershort_body #lp_supershort_body_inner #lpk_form {
  display: none;
  margin-top: 30px;
}
#lp_slider_content #lp_slider_footer,
#lp_supershort_body #lp_slider_footer {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  padding: 20px;
}
#lp_slider_content #lp_slider_footer p,
#lp_supershort_body #lp_slider_footer p {
  font-size: 14px;
}

@media (min-width: 768px) {
  // tu byl tez #lp_supershort head
  #lp_slider_head {
    padding: 20px 0px;
  }

  #lp_slider_body_text p,
  #lp_supershort_body_text p {
    font-size: 22px;
  }
  #lp_slider_body_text ul,
  #lp_supershort_body_text ul {
    padding-left: 70px;
  }
  #lp_slider_body_text ul li,
  #lp_supershort_body_text ul li {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  #lp_slider_head,
  #lp_supershort_head {
    padding: 0px; //20
  }
}

#lp_slider_body_slider {
  margin-bottom: 100px;
  @media screen and (min-width: 500px) {
    margin: 20px 20% 100px 20%;
  }
}
.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min {
    background-color: rgb(3, 169, 245) !important;
}
