.part.blue-lp.lp {
  .graphic {
    background-image: url("../img/graphics/part1.png");
    @media screen and (min-width: 768px) {
      left: 0;
    }
  }
}
.blue-lp {
  background-color: @blue;
  &:after {
    border-top: 50px solid @blue;
    @media screen and (min-width: 1100px) {
      border-top: 50px solid #03a1ea;
    }
  }
}
.part.blue-lp.lp {
  margin-bottom: 50px;
  @media screen and (min-width: 992px) {
    margin-bottom: 100px;
  }
  &:after {
    border-top: 50px solid @blue;
  }
  .text {
    color: @text-white;
    text-align: center;
    @media screen and (min-width: 768px) {
      h1, h2, h3, p, span {
        text-align: left;
      }
    }
    h1 {
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 200;
      margin-bottom: 0px;
    }
  }
}
